<table cellpadding="0" cellspacing="0" width="600" style="font-family: Helvetica; margin:auto; width:600px;">
	<tbody>
		<tr style="background: url(https://admin.enxuto.vipcommerce.com.br/files/uploads/topo-1_61eebbe744ed0.png) repeat-x #00634c; height: 235px; font-weight: 700;">
			<td style="font-size: 30px; color:#ffffff; text-align: right;"><img src="https://admin.enxuto.vipcommerce.com.br/files/uploads/logo_61eed36144452.png" width="100" style="padding: 0 50px 0 0; margin-top: -25px;" />
			<p style="text-align: right; padding: 40px 40px 0 0;">Redefini&ccedil;&atilde;o de senha</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#ffffff;"><img src="https://admin.enxuto.vipcommerce.com.br/files/uploads/topo-2_61eed195387f7.png" style="margin-top: -5px;" />
			<p style="color:#00634c; font-size: 30px; font-weight: 700; padding: 45px 15px 5px 15px; margin-top: -45px;">Ol&aacute;, [[Nome do cliente]]!</p>

			<p style="padding:0 15px 15px 15px; text-align: justify; font-size: 16px;">Pelo visto voc&ecirc; esqueceu a sua senha, n&eacute;? Mas n&atilde;o tem problema!<br />
			Para voc&ecirc; recuperar o seu acesso ao site do <strong>Enxuto</strong>, basta clicar no link abaixo e cadastrar uma nova senha:<br />
			<br />
			[[Link para redefinir senha]]</p>
			</td>
		</tr>
		<tr>
			<td style="background-color: #ffffff;">
			<center><img src="https://admin.enxuto.vipcommerce.com.br/files/uploads/rodape-amora_61eed4046a4a7.jpg" style="max-height: 100px; padding-bottom: 15px;" /></center>
			</td>
		</tr>
		<tr style="background-color:#f5f5f5;">
			<td style="font-size: 20px; font-weight: 700; line-height: 20px; padding: 15px;">Abra&ccedil;os,<br />
			Equipe Enxuto</td>
		</tr>
		<tr>
			<td>
			<center><a href="https://www.facebook.com/enxutosupermercados/" target="_blank"><img src="https://admin.enxuto.vipcommerce.com.br/files/uploads/icone-facebook_61eed8cac8a23.png" style="max-height: 25px; padding-top: 12px;" /></a> <a href="https://www.instagram.com/enxutooficial/" target="_blank"><img src="https://admin.enxuto.vipcommerce.com.br/files/uploads/icone-instagram_61eed92ab9ba3.png" style="max-height: 25px; padding-top: 12px;" /></a> <a href="https://open.spotify.com/playlist/6MyMXYqUqy84neT925rlCK?si=3e10da4083ac4429&amp;nd=1&amp;utm_medium=organic&amp;_branch_referrer=H4sIAAAAAAAAA7WN0U6DMABFv6Y8QmlxMhNiFJkxBBfdFnEvSyllFLq2lIL272UmfoLJfbi5NyentVaPd0EwamV543yitS%2B47IN7bVQ9UZsozaQHUNRMQpwmI5L2igD8ANBmyfX2%2F2iqLsukBXGCj3apq8IV5edwGFwcSbZfoxsj0hzgzcgBfsIshDWJYIwJjSK0%2FtUQISpC%2B39WAbSS9bKHXsOInQxLlDkTyal34kkW6915atMvanb4scve8NG0afUy07nc5q8dLMqDvYQQdtVHvj1mabyvb4f%2BXWYzfXbf9Q9%2BEiHAVQEAAA%3D%3D&amp;product=open&amp;%24full_url=https%3A%2F%2Fopen.spotify.com%2Fplaylist%2F6MyMXYqUqy84neT925rlCK%3Fsi%3D3e10da4083ac4429&amp;feature=organic&amp;_i=E8pSguhCwcrS3BjEQ3ZrhCbIvcvXOKNj0MXUtm100jbWKOZEC8Td7qkRnEvcGyxd&amp;_branch_match_id=1009850545728811372" target="_blank"><img src="https://admin.enxuto.vipcommerce.com.br/files/uploads/icone-spotify_61eed9fb0bca5.png" style="max-height: 25px; padding-top: 12px;" /></a> <a href="#" target="_blank"><img src="https://admin.enxuto.vipcommerce.com.br/files/uploads/icone-whatsapp_61eeda7fa3d3f.png" style="max-height: 25px; padding-top: 12px;" /></a> <a href="https://www.linkedin.com/company/enxuto/" target="_blank"><img src="https://admin.enxuto.vipcommerce.com.br/files/uploads/icone-linkedin_61eedad53b009.png" style="max-height: 25px; padding-top: 12px;" /></a></center>

			<p style="font-size:12px; padding:0 15px; text-align:justify;"><strong>Ainda ficou alguma d&uacute;vida?</strong><br />
			Entre em contato conosco pelo e-mail <a href="mailto:faleconosco@enxuto.com.br">faleconosco@enxuto.com.br</a>.</p>
			&nbsp;

			<p style="font-size:12px; padding:0 15px; text-align:justify; margin-top: -15px;">&copy; Enxuto Supermercados LTDA - 05.789.313/0001-94<br />
			Av. Imp&eacute;rio do Sol Nascente, 350</p>
			</td>
		</tr>
	</tbody>
</table>
